**/.git
**/.gitignore
**/.vscode
**/.idea
**/*.log
**/.env
**/.env.*
!**/.env.example

# Node / Web artifacts
**/node_modules
**/.angular
**/dist
**/.turbo

# .NET / C# build artifacts
**/bin
**/obj
**/App_Data
**/*.db
**/*.user
**/*.suo

# OS temporary files
**/.DS_Store
**/Thumbs.db
