node_modules/
.angular/
dist/
tmp/
out-tsc/

bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal
compacting.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*~

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
.env
.env.*
!.env.example
